@font-face {
    font-family: 'Departure';
    src: url('./Departure.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('./JetBrainsMonoNerdFont-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira';
    src: url('./FiraCodeNerdFontMono-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}